LIBK_CFLAGS:=
LIBK_LDFLAGS:=
LIBK_LIBS:=

LIBK_OBJS:=\
$(LIBDIR)/stdio/printf.o \
$(LIBDIR)/stdio/putchar.o \
$(LIBDIR)/stdio/puts.o \
$(LIBDIR)/stdlib/abort.o \
$(LIBDIR)/stdlib/atoi.o \
$(LIBDIR)/stdlib/itoa.o \
$(LIBDIR)/string/memchr.o \
$(LIBDIR)/string/memcmp.o \
$(LIBDIR)/string/memcpy.o \
$(LIBDIR)/string/memmove.o \
$(LIBDIR)/string/memset.o \
$(LIBDIR)/string/strcat.o \
$(LIBDIR)/string/strcmp.o \
$(LIBDIR)/string/strcpy.o \
$(LIBDIR)/string/strlen.o \
$(LIBDIR)/kdebug/klog.o \

